@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slider-k: calc(100vw - 32);
}

.slider-crop {
  width: var(--slider-k);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: black;
}

